# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# iOS
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcodecheckout
*.xcuserstate
*.xcworkspace/
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
Pods/

# Android
android/app/build/
android/app/libs/
android/app/src/main/assets/
android/app/src/main/res/raw/
android/app/src/main/res/drawable-*/
android/app/src/main/res/values/
android/gradle/
android/local.properties
android/.gradle/